<target>
  <candidate/>
</target>
<config>
  <omp xmlns="http://viptela.com/omp">
{% if omp is defined %}
    <shutdown>false</shutdown>
{% for protocol in omp.advertise|default([]) %}
    <advertise>
{% if protocol == 'ospf-external' %}
      <protocol>ospf</protocol>
      <route>external</route>
{% else %}
      <protocol>{{ protocol }}</protocol>
{% endif %}
    </advertise>
{% endfor %}
{% endif %}{# vpn_instances #}
  </omp>
</config>
