<target>
  <candidate/>
</target>
<config>
{% if vpn_instances is defined %}
  <vpn xmlns="http://viptela.com/vpn">
{% for vpn in vpn_instances %}
    <vpn-instance>
      <vpn-id>{{ vpn.vpn_id }}</vpn-id>
{% if vpn.ospf is defined %}
{% set netconf_config_push = 'yes' %}
      <router>
        <ospf>
{% if vpn.ospf.redistribute is defined %}
          <redistribute>
{% for protocol in vpn.ospf.redistribute|default([]) %}
            <protocol>{{ protocol }}</protocol>
{% endfor %}{# vpn.redistribute.protocols #}
          </redistribute>
{% endif %}{# vpn.redistribute #}
          <area>
            <a-num>{{ vpn.ospf.area }}</a-num>
{% for interface in vpn.ospf.interfaces|default([]) %}
            <interface>
              <name>{{ interface.if_name }}</name>
              <hello-interval>{{ interface.hello_interval|default('10') }}</hello-interval>
              <dead-interval>{{ interface.dead_interval|default('40') }}</dead-interval>
              <retransmit-interval>{{ interface.retransmit_interval|default('5') }}</retransmit-interval>
              <priority>{{ interface.priority|default('1') }}</priority>
              <network>{{ interface.network|default('broadcast') }}</network>
            </interface>
{% endfor %}{# vpn.ospf.interfaces #}
          </area>
        </ospf>
      </router>
{% endif %}{# vpn.ospf #}
    </vpn-instance>
{% endfor %}{# vpn_instances #}
  </vpn>
{% endif %}{# vpn_instances #}
</config>
