<target>
  <candidate/>
</target>
<config>
  <system xmlns="http://viptela.com/system">
    <host-name>{{ inventory_hostname }}</host-name>
{% if system_ip is defined %}
    <system-ip>{{ system_ip }}</system-ip>
{% endif %}
{% if site_id is defined %}
    <site-id>{{ site_id }}</site-id>
{% endif %}
{% if organization_name is defined %}
    <organization-name>{{ organization_name }}</organization-name>
{% endif %}
{% if vbond is defined %}
    <vbond>
      <remote>{{ vbond.remote }}</remote>
{% if vbond.port is defined %}
      <port>{{ vbond.port }}</port>
{% endif %}
{% if vbond.local is defined and vbond.local %}
      <local/>
{% endif %}
    </vbond>
{% endif %}
  </system>
</config>
