<target>
    <running/>
</target>
<config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
        {% if ntp_servers is defined %}
        <ntp>
            <server xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp" operation='replace'>
                {% for server in ntp_servers %}
                <server-list>
                    <ip-address>{{ server }}</ip-address>
                </server-list>
                {% endfor %}
            </server>
        </ntp>
        {% endif %}{# ntp_servers #}
    </native>
</config>