<target>
    <running/>
</target>
<config>
    <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
        <hostname>{{ inventory_hostname }}</hostname>
        {% if ntp_servers is defined %}
        <ntp>
            <server xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp">
                <server-list>
                    {% for server in ntp_servers %}
                        <ip-address>{{ server }}</ip-address>
                    {% endfor %}
                </server-list>
            </server>
        </ntp>
        {% endif %}{# ntp_servers #}
    </native>
</config>