<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <ntp operation="replace">
      <server xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ntp">
        <server-list>
          <ip-address>1.2.3.5</ip-address>
        </server-list>
      </server>
    </ntp>
  </native>
</config>
